In [1]:
import pandas as pd
import googlemaps

In [2]:
API_KEY = ""
gmaps = googlemaps.Client(key=API_KEY)

In [3]:
def create_list(response, type):
  list_of_points=[]
  for result in response['results']:
    lat = result['geometry']['location']['lat']
    lng = result['geometry']['location']['lng']
    list_of_points.append((type, lat, lng))
  return list_of_points

In [4]:
def finalize(poi_types, location, radius):
    final_list = []
    for poi in poi_types:
        response = gmaps.places_nearby(location=location, keyword=poi, radius=radius)
        temp = create_list(response, poi)
        final_list = final_list + temp
    return final_list

In [5]:
location = (51.64870502671705, -0.17654192837734858)
radius = 10000
poi_types = ["accounting", "airport", "amusement_park", "aquarium", "art_gallery", "atm", "bakery", "bank", "bar", "beauty_salon", "bicycle_store", "book_store", "bowling_alley", "bus_station", "cafe", "campground", "car_dealer", "car_rental", "car_repair", "car_wash", "casino", "cemetery", "church", "city_hall", "clothing_store", "convenience_store", "courthouse", "dentist", "department_store", "doctor", "drugstore", "electrician", "electronics_store", "embassy", "fire_station", "florist", "funeral_home", "furniture_store", "gas_station", "gym", "hair_care", "hardware_store", "hindu_temple", "home_goods_store", "hospital", "insurance_agency", "jewelry_store", "laundry", "lawyer", "library", "light_rail_station", "liquor_store", "local_government_office", "locksmith", "lodging", "meal_delivery", "meal_takeaway", "mosque", "movie_rental", "movie_theater", "moving_company", "museum", "night_club", "painter", "park", "parking", "pet_store", "pharmacy", "physiotherapist", "plumber", "police", "post_office", "primary_school", "real_estate_agency", "restaurant", "roofing_contractor", "rv_park", "school", "secondary_school", "shoe_store", "shopping_mall", "spa", "stadium", "storage", "store", "subway_station", "supermarket", "synagogue", "taxi_stand", "tourist_attraction", "train_station", "transit_station", "travel_agency", "university", "veterinary_care", "zoo"]

In [6]:
a = finalize(poi_types, location, radius).copy()

In [7]:
df = pd.DataFrame(data = a, columns=['POI','lat', 'lon'])

In [8]:
df

                  POI        lat       lon
0          accounting  51.697651 -0.191746
1          accounting  51.614180 -0.275541
2          accounting  51.615948 -0.302940
3          accounting  51.607640 -0.068205
4          accounting  51.621429 -0.293039
...               ...        ...       ...
1025  veterinary_care  51.686435 -0.319279
1026  veterinary_care  51.664309 -0.076418
1027              zoo  51.691954 -0.040493
1028              zoo  51.560459 -0.086956
1029              zoo  51.560243 -0.088299

[1030 rows x 3 columns]

In [53]:
df.to_csv('poi-gmaps-api.csv')